DISCORD_TOKEN=your_discord_token_here
TELE_API_ID=123456
TELE_API_HASH=your_tele_hash
MONGO_URI=mongodb+srv://... (URI của bạn)

# ID các kênh Telegram Nguồn (Cố định hoặc lấy từ config)
TELE_NENS_CHANNEL_ID=...
TELE_SL_CHANNEL_ID=...
TELE_H_CHANNEL_ID=...