DISCORD_TOKEN=MT...
TELE_API_ID=37...
TELE_API_HASH=9b...
MONGO_URI=mo...

# ID các kênh Telegram Nguồn (Cố định hoặc lấy từ config)
TELE_NENS_CHANNEL_ID=-100...
TELE_SL_CHANNEL_ID=-100...
TELE_H_CHANNEL_ID=-100...
TELE_T_CHANNEL_ID=-100...